@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
////
/// Fonts
///
/// @group Settings
///
////


/// Font fomily
$arial: Arial, sans-serif;
$open: 'Open Sans', sans-serif;
$font: $open;

/// Fonts weight
/// They must reflect avalaible weights
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
