.ui-push {
  $ui-thumb-size: 26px !default;
  $ui-push-border: 2px !default;

  $ui-dark-color: #777 !default;
  $ui-light-color: #fff !default;

  [type="button"] {
    box-sizing: content-box;
    border: $ui-push-border solid $ui-dark-color; border-radius: $ui-thumb-size; width: $ui-thumb-size; height: $ui-thumb-size;
    background-color: $ui-light-color;
    cursor: pointer;
    line-height: $ui-thumb-size / 2; text-decoration: none; color: $ui-dark-color;

    box-shadow: 0 0 3px rgba($black, .3);

    &:hover {
      box-shadow: 0 0 4px rgba($black, .5);
    }
  }

}
