.help {
  margin: 0 auto 5px; max-width: 260px;

  @media screen and #{$media-landscape} {
    margin: 0 0 30px;
  }

  .help-title { text-align: center;
    @media screen and #{$media-landscape} {
      display: none; text-align: left;
    }
  }
}
.help:last-child { margin-bottom: 0; }

.help-list {
  margin: 0; padding: 0; list-style: none;

  .help-item { display: block; margin: 0 0 15px; padding: 0; list-style: none; vertical-align: middle;
    &.help-icon,
    &.help-label { margin-bottom: 20px; }

    @media screen and #{$media-landscape} {
      margin: 5px 0;

      &.help-icon,
      &.help-label { margin-bottom: 5px; }

      .device-standalone & { margin: 10px 0; }
    }
    @media screen and #{$media-squeezed} {
      margin: 2px 0;
      &.help-icon,
      &.help-label { margin-bottom: 2px; }
    }
  }

  .help-icon { display: inline-block; box-sizing: border-box; margin: 0 20px 0 0; width: 56px; height: 30px; text-align: center;

    @media screen and #{$media-landscape} {
      margin-right: 10px;
    }
  }
  .help-label { display: inline-block; margin: 0; height: 30px; font-weight: $fw-light; }
}

.addtohome { text-align: center;

  @media screen and #{$media-landscape} {
    position: absolute; top: 30px; right: 15px; text-align: right;

    .help-title { display: block; text-align: right; }
  }

  .addtohome-icon { margin: 0 5px; vertical-align: middle; }
}

.addtohome-ios { display: none; }
.device-ios.device-help {
  .addtohome-ios { display: block; }
}

.addtohome-android { display: none; }
.device-android.device-help {
  .addtohome-android { display: block; }
}

.addtohome-other { display: none; }
.device-other.device-help {
  .addtohome-other { display: block; }
}
