.popin {
  position: fixed; top: 10px; right: 10px; bottom: 80px; left: 10px;
  background-color: rgba($black, .2); cursor: pointer; color: $white;

  .popin-content {
    position: absolute; top: 10px; right: 10px; bottom: 10px; left: 10px; padding: 20px;
    background-color: rgba($white, .3); cursor: default;

    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
  }
  .icon-fermeture { position: absolute; top: 15px; right: 25px; font-size: 40px; line-height: 1; color: $white; }

  iframe { width: 100% !important; height: 100% !important; }
}
