.splash {
  box-sizing: border-box;
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  border-radius: 2px; padding-bottom: 90px; height: 100%;
  background: $white url('../img/Android/144.png') center center no-repeat; cursor: pointer;
  transition: opacity 1s ease-in;
  z-index: 200;
  color: $white;

  .splash-content {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 20px;
    background-color: rgba($white, 0); cursor: default;

    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
  }

  iframe { width: 100% !important; height: 100% !important; }
}

.splash-isopen { opacity: 1; }
.splash-isclose { opacity: 0; }
